certifi==2021.10.8
charset-normalizer==2.0.12
colorlog==6.6.0
idna==3.3
mpmath==1.2.1
numpy==1.19.5
opencv-python==4.5.4.60
packaging==21.3
Pillow==8.4.0
PyMySQL==1.0.2
pyparsing==3.0.6
requests==2.27.1
RPi.GPIO==0.7.0
sip==6.5.0
six==1.16.0
smbus==1.1.post2
sympy==1.9
tencentcloud-sdk-python==3.0.583
toml==0.10.2
urllib3==1.26.8
utils==1.0.1
